<!-- NAVBAR STARTS -->
<div class="container">
    <ul >
      <li class="HeaderLogoText">
        <a [routerLink]="['/Home']">
          <img src="../../assets/images/general/openhid-logo.png" class="HeaderLogo">
          &nbsp; <span class="HeaderText"><b>NUI Labs</b></span>
        </a>
      </li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><a alt="Home" [routerLinkActive]="['active']" [routerLink]="['/Home']">Home</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/About']">About Us</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/Projects']">Projects</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/Contact']">Contact</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/Publications']">Publications</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/Resources']">Resources</a></li>
      <li><a href="https://users.cs.fiu.edu/~fortega/">Teaching</a></li>
      <li><a href="http://3dinputbook.com/">Books</a></li>
    </ul>
</div>
  <!-- NAVBAR ENDS -->