<div class="container">
    <!-- Header Group photo -->
    <div id="headers">
        
        <div class="bottom" style="background: url('/assets/images/people/header_photo.jpg'); width: 100%; height: 280px; background-size: cover; background-position: 50% 25%;"></div>
        <div class="top" style="background: url('/assets/images/people/header_photo2.jpg'); width: 100%; height: 280px; background-size: cover; background-position: 50% 25%;"></div>
        <!--<i class="arrow right"></i> (Use a button instead)-->
    </div>

    <div class="table">
        <div class="row" style="padding:16px;">
            <div class="col-md-4" style="text-align:center">
                <img src="assets/images/general/map.svg" style="width: 70%; max-height: 240px;">
            </div>
            <div class="col-md-8">
                <br>
                <h4>Who are We?</h4>
                <p style="text-align: justify">We are a multi-disciplinary group, with our primary site at Colorado State University and with a still active site at Florida International University. We have included a diverse background of knowledge and origins. While CS-centric, former students have included majors, such as Statistics, Mathematics, Biology, Psychology, Engineering, and Architecture, among others. We have had members from multiple places, including USA, Cuba, Chile, Colombia, Jamaica, Dominican Republic, China, Brazil, and Venezuela, among others.</p>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT USING JSON OBJ -->
<div class="container">
    <br><hr><br>
</div>

<!-- Faculty People -->
<div *ngIf="faculty.PHD.length" class="container">
    <div class="table">
        <div class="row">
            <div class="col-md-12 PeopleTitle">
                <h2>Faculty</h2>
            </div>
        </div>
        
        <div *ngFor="let person of faculty.PHD" class="row" style="padding:20px;">
            <div class="col-md-2" style="text-align:center;">
                <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(34, 104, 45)">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <h3>{{person.name}}, {{person.education}}</h3>
                        <h5>{{person.position}}</h5>
                        <h5 style="color: rgb(34, 104, 45)">{{person.university}}</h5>
                        <p>{{person.email}}</p>
                    </div>
                    
                    <div class="col-md-2">
                        <a [href]="person.cv" target="NEW"><h5>CV</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:justify">
                       <span [innerHTML]="person.description"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Affiliated Faculty People -->
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-md-12 PeopleTitle">
                <h2>Affiliated Faculty</h2>
            </div>
        </div>

        <!-- CSU Faculty People -->
        <div *ngIf="faculty.AffiliatedCSU.length">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div *ngFor="let person of faculty.AffiliatedCSU" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(34, 104, 45);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(34, 104, 45)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <a [href]="person.website" target="NEW"><h5>Website</h5></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIU Faculty People --> 
        <div *ngIf="faculty.AffiliatedFIU.length">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div *ngFor="let person of faculty.AffiliatedFIU" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <a [href]="person.website" target="NEW"><h5>Website</h5></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




<div class="container">
    <br><hr><br>
</div>


<!-- All current Students -->
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-md-12 PeopleTitle">
                <h2>Current Assistants and Volunteers</h2>
            </div>
        </div>
        
        <!-- Current PHD Students -->
        <div *ngIf="current.PHD.length">
            <div class="row">
                <div class="col-md-12">
                    <h3>Ph.D. Students</h3>
                </div>
            </div>
            <div *ngFor="let person of current.PHD" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(34, 104, 45);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(34, 104, 45)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Current Master Students -->
        <div *ngIf="current.MDSCSU.length">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Master Students</h3>
                    </div>
                </div>
                <div *ngFor="let person of current.MDSCSU" class="row" style="padding:20px;">
                    <div class="col-md-2" style="text-align:center;">
                        <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(34, 104, 45);">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                                <h5>{{person.position}}</h5>
                                <h5 style="color: rgb(34, 104, 45)">{{person.university}}</h5>
                                <p>{{person.email}}</p>
                            </div>
                            
                            <div class="col-md-2">
                                <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:justify">
                            <span [innerHTML]="person.description"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div *ngIf="current.MDS.length">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div *ngFor="let person of current.MDS" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Current CSU Bachelor Students -->
        <div *ngIf="current.BSCSU.length">
            <div class="row">
                <div class="col-md-12">
                    <h3>Bachelor Students</h3>
                </div>
            </div>
            <div *ngFor="let person of current.BSCSU" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(34, 104, 45);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(34, 104, 45)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Current Bachelor Students -->
        <div *ngIf="current.BS.length">
            <div class="row">
                <div class="col-md-12">
                   
                </div>
            </div>
            <div *ngFor="let person of current.BS" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Bachelor Students with no picture-->
        <div *ngIf="current.BSN.length">
            <div class="row">
            </div>
            <div *ngFor="let person of current.BSN" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px;">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="current.Affiliated.length">
                <div class="row">
                    <h3>Affiliated Students</h3>
                </div>
                <div *ngFor="let person of current.Affiliated" class="row" style="padding:20px;">
                    <div class="col-md-2" style="text-align:center;">
                        <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                                <h5>{{person.position}}</h5>
                                <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                                <p>{{person.email}}</p>
                            </div>
                            
                            <div class="col-md-2">
                                 <a [href]="person.website" target="NEW"style="color:rgb(10, 6, 245)"><h5>Working Lab</h5></a> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:justify">
                            <span [innerHTML]="person.description"> </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<div class="container">
    <br><hr><br>
</div>
<!-- All Former Students -->
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-md-12 PeopleTitle">
                <h2>Former Assistants and Volunteers</h2>
            </div>
        </div>
        
        <!-- Current PHD Students -->
        <div *ngIf="oldStudents.PHD.length">
            <div class="row">
                <div class="col-md-12">
                    <h3>PH.D. Students</h3>
                </div>
            </div>
            <div *ngFor="let person of oldStudents.PHD" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Current Master Students -->
        <div *ngIf="oldStudents.MDS.length">
            <div class="row">
                <div class="col-md-12">
                    <h3>Graduate Students</h3>
                </div>
            </div>
            <div *ngFor="let person of oldStudents.MDS" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Bachelor Students -->
        <div *ngIf="oldStudents.BS.length">
            <div class="row">
                <div class="col-md-12">
                    <h3>Bachelor Students</h3>
                </div>
            </div>
            <div *ngFor="let person of oldStudents.BS" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px; border: 3px solid rgb(18, 18, 124);">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="oldStudents.BSN.length">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div *ngFor="let person of oldStudents.BSN" class="row" style="padding:20px;">
                <div class="col-md-2" style="text-align:center;">
                    <img [src]="person.image" style="width: 100%; max-height: 200px; max-width: 200px;">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{person.name}}, {{person.major}} - {{person.education}}</h3>
                            <h5>{{person.position}}</h5>
                            <h5 style="color: rgb(18, 18, 124)">{{person.university}}</h5>
                            <p>{{person.email}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- <a [href]="person.cv" target="NEW"><h5>CV</h5></a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:justify">
                        <span [innerHTML]="person.description"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>