<div class="container">
    <div class="table">
        <div class="row" style="background-color: rgba(235,235,235, 0.9); padding:20px">
              <div class="col-md-4 .portrait">
                 <img src="assets/images/general/freshmen-seminar.png" style="width: 100%; max-height: 200px; max-width: 300px; vertical-align: center">
              </div>
              <div class="col-md-8">
                  <h2>Freshmen Seminar Talk CS CSU</h2>
                  <h4><b>Date: 09/11/2018</b></h4>
                  <h5>Time: 1pm-2pm</h5>
                  <h5>Location: Colorado State University Fort Collins, CO</h5>
                  <h6><b>Presentation: Gesture User Interfaces: Towards the Invisible Computer</b></h6>
                  <p style = "text-align: justify"></p>
                  <a class="btn btn-success" style="padding:6px" href="http://openhid.com/assets/media/CSU-freshmen.pptx">PowerPoint</a>
                  <a class="btn btn-success" style="padding:6px" href="https://www.youtube.com/watch?v=QP3YywgRx5A&t=206s">YouTube</a>
                  <a class="btn btn-success" style="padding:6px" href="https://www.cs.colostate.edu/~cs192/#/">Class</a>
              </div>
              
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>