
<div class="container">
    <h1 class>RESOUCES</h1>

    <div class="table">

        <div class="row">
            <div class="col-sm-12">
                <h3>Links</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="https://www.una.edu/writingcenter/docs/Writing-Resources/Comparing%20the%20Annotated%20Bibliography%20to%20the%20Literature%20Review.pdf">Comparing the Annotated Bibliography to the Literature Review </a></li>
                    <li><a href="https://users.ece.cmu.edu/~koopman/essays/abstract.html">How to Write an Abstract Philip Koopman</a></li>
                    <li><a href="http://hispanicsincomputing.org/">Hispanics in Computing</a></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h3>Conferences</h3>
                <br>
            </div>
        </div>

        <div class="row ResourceSize">
            <div class="col-md-3 ResourceSize">
                <a href="http://www.siggraph.org/"><img class="refImg" src="/assets/conferences/acm-siggraph.svg"></a>
            </div>
            <div class="col-md-3 ResourceSize">
                <a href="http://www.ieee.org/conferences_events/index.html"><img class="refImg" src="/assets/conferences/ieee.svg"></a>
            </div>
            <div class="col-md-3 ResourceSize">
                <a href="https://chi2016.acm.org/wp/"><img class="refImg" src="/assets/conferences/chi.svg"></a>
            </div>
            <div class="col-md-3 ResourceSize">
                <a href="https://cscw.acm.org/2017/"><img class="refImg" src="/assets/conferences/cscw.png"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 ResourceSize">
                <a href="http://sui-symposium.org/"><img src="/assets/conferences/sui.svg"></a>
            </div>
            <div class="col-md-3 ResourceSize">
                <a href="http://3dui.org/"><img src="/assets/conferences/3dui.png"></a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
    </div>
</div>