<!-- Map here -->
<!-- Key:  AIzaSyDZAsRcQHusi9gsviGBonQeststp3PQgDc   -->
<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Computer Science Department
                <br>279 Computer Science Building
                <br>1100 Center Avenue Mall
                <!-- Office: TBA -->
                <br>Fort Collins, CO 80523
                <!-- Phone Number: (970)-xxx-xxxx -->
                <br><b>Email:</b> fortega@colostate.edu 
                <br><b>Computer Science Phone Number Phone:</b> (970) 491-5792
                <br><b>Computer Science FAX: (970) 491-2466</b>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="align-content: center; height:450px;" class="col-md-12">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.5918001318782!2d-105.08558228430793!3d40.57269075406271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87694a56c0fe863d%3A0x34cdac708b647feb!2s1100+Center+Ave+Mall%2C+Fort+Collins%2C+CO+80521!5e0!3m2!1sen!2sus!4v1531095678017" 
                    width="100%" 
                    height="100%" 
                    frameborder="0" 
                    style="border:0" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <br>
    </div>    
</div>