<!-- NAVBAR STARTS -->
<div class="container">
  <ul>
    <li><a class="active" routerLink="/Home">Home</a></li>
    <li><a routerLink="/About">About Us</a></li>
    <li><a routerLink="/Projects">Projects</a></li>
    <li><a routerLink="/Contact">Contact</a></li>
    <li><a routerLink="/Publications">Publications</a></li>
    <li><a href="http://3dinputbook.com/">Books</a></li>
    <li><a routerLink="/Resources">Resources</a></li>
    <li><a href="https://users.cs.fiu.edu/~fortega/">Teaching</a></li>
  </ul>
</div>
<!-- NAVBAR ENDS -->

<!--START EACH PAGE CONTENT -->
<router-outlet></router-outlet>
<!-- END EACH PAGE CONTENT -->

<!-- START FOOTER -->
<div>
  <h5 style="text-align:center;">openHID Lab - Florida International University - 2018</h5>
</div>
<!-- END FOOTER -->




