body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("/../../assets/images/codevr-preview.png");
    /* /home/stonb/Workspace/openhid/src/assets/images/background.jpg */

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.fullscreen-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%); }

.openhid-logo {
    display: block;
    margin: 32px 0 16px 0;
    min-width: 240px;
    min-height: 200px;
    z-index: 10;
    background: url("/assets/images/general/openhid-logo.png") no-repeat scroll center center/contain; }
    
.spin {
    animation: spin 2.5s ease 0s forwards; }