<!-- Header -->
<div style="text-align:center">
    Header
    <!-- <img src="assets/images/background.jpg" alt=""> -->
</div>
<!-- Content -->
<div>
    <div class="table" style="text-align:center">
        <div class="row">
            <div class="col-md-4">
                image
            </div>
            <div class="col-md-4">
                content
            </div>
        </div>
    </div>
</div>


<!-- Header -->
<!-- <div>

</div> -->
<!-- Content -->
<!-- <div>

</div> -->
<!-- footer -->
<!-- <div>

</div> -->