<div class="container">
    <!-- Header -->
    <div class="table">
        <div class="row">
            <div class="col-md-12">
                <div class="hero">
                    <div class="openhid-logo spin"></div>
                    <h1><b style="font-weight: 800">{{ _globals.LabShort }}</b> Lab</h1>
                    <h2><a href="http://www.cs.colostate.edu/cstop/">CSU's </a>{{ _globals.LabLong }} Lab</h2>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Content -->
    <div>
        <div class="table">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/general/proom.png" style="max-width: 100%; max-height: 100%;">
                </div>
                <div class="col-md-8">
                    <article>
                        <h6>What is the {{ _globals.LabShort }} Lab?</h6>
                        <p>{{ _globals.LabShort }} Lab, (Formerly known as {{ _globals.LabOldShort }}), founded in January 2015, is dedicated to the research and development of 3D User Interfaces, Virtual Environments, 3D Navigation, Visualization Systems, Gesture Recognition, Modern Framework Development, and Input Devices, among other research interest we have. In general, we concentrate in looking at user interaction techniques and the advancement of Human-Computer Interaction.</p>
                        <p>{{ _globals.LabShort }} Lab is part of a larger center, HPDRC, located at Florida International University in the School of Computing and Information Sciences. The lab founder and director is Francisco R. Ortega, Ph.D.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
