<div class="container">
    <!-- Header -->
    <div style="text-align:center">
        Header
    </div>
    <!-- Content -->
    <div>
        <div class="table">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/general/proom.png" style="max-width: 100%; max-height: 100%;">
                </div>
                <div class="col-md-8">
                    <article>
                        <h6>What is the OpenHID Lab?</h6>
                        <p>OpenHID Lab, founded in January 2015, is dedicated to the research and development of 3D User Interfaces, Virtual Environments, 3D Navigation, Visualization Systems, Gesture Recognition, Modern Framework Development, and Input Devices, among other research interest we have. In general, we concentrate in looking at user interaction techniques and the advancement of Human-Computer Interaction.</p>
                        <p>OpenHID Lab is part of a larger center,   HPDRC, located at Florida International University in the School of Computing and Information Sciences. The lab founder and director is Francisco R. Ortega, Ph.D.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Header -->
<!-- <div>

</div> -->
<!-- Content -->
<!-- <div>

</div> -->
<!-- footer -->
<!-- <div>

</div> -->