<div class="container">
    <br>
    <h1 style="text-align: center;">Publications</h1>
    <div class="table">
        <div *ngIf="!publications.RefeeredJournals" class="row">
            <div class="col-mid-12">
                <!-- Start Refeered Journals -->
                <h3>Refereed Journals</h3>
                
                <div *ngFor="let pub of publications.RefereedJournals" class="row">
                    <div class="col-mid-12">
                        <div class="row">
                            <div class="col-mid-12">
                                <span [innerHTML]="pub.name"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="pub.links" class="col-mid-4">
                                <span *ngFor="let link of pub.links">
                                    <a href="link.url">{{link.from}}</a>
                                </span>
                            </div>
                            <div class="col-mid-8">
                                <!-- empty div -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Refeered Journals -->
            </div>
        </div>

        <div *ngIf="publications.RefereedConferences" class="row">
            <div class="col-mid-12">
                <!-- Refereed Conferences -->
                <h3>Refereed Conferences</h3>
                
                <div *ngFor="let pub of publications.RefereedConferences" class="row">
                    <div class="col-mid-12">
                        <div class="row">
                            <div class="col-mid-12">
                                <span [innerHTML]="pub.name"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="pub.links" class="col-mid-4">
                                <span *ngFor="let link of pub.links">
                                    <a href="link.url">{{link.from}}</a>
                                </span>
                            </div>
                            <div class="col-mid-8">
                                <!-- empty div -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Refeered Journals -->
            </div>
        </div>
        
        
        Workshop and Poster Refereed Papers
        Other Referred Papers
        Books
        Book Chapters
        Non-refereed Papers
        <div class="row">

        </div>
    </div>
</div>