<h1>PUBLICATIONS</h1>

<h2>Refereed Journals</h2>
<ul style="list-style-type:none;">
    <li style="text-decoration:none;">
    <p class="pubg">1. <span style="font-weight:900;">Ortega, F.</span>, Tarre, K., Rishe, N., and Barreto, A., “3D Navigation for 6DOF Using Multi-Touch vs. GamePad”, under submission in International Journal of HumanComputer Studies, 2017.
        <ul style="list-style-type:none; margin:0; padding:0; overflow: hidden;">
        </ul>
    </p>
    </li>
    <li style="text-decoration:none;">
    <p class="pubg">2. Cofino J., Barreto A., Abyarjoo F., and <span style="font-weight:900;"><span style="font-weight:900;">Ortega, F.</span></span>, “Sonically-Enhanced Tabular Screen-Reading”, Journal on Technology &amp; Persons with Disabilities (JTPD),Vol. 2, pp. 46–57, 2014.
        <ul style="list-style-type:none; margin:0; padding:0; overflow: hidden;">
        <li style="float:left; display:block; text-align:center;padding:16px; text-decoration:none;">[<a style="text-decoration: none; color:blue" href="http://scholarworks.csun.edu/handle/10211.3/133374">SOAR</a>]</li>
        <li style="float:left; display:block; text-align:center;padding:16px; text-decoration:none;">[<a style="text-decoration: none; color:blue" href="/assets/papers/sonically-enhanced_tabular_screen-reading.pdf">pdf</a>]</li>
        </ul>
    </p>
    </li>
    <li style="text-decoration:none;">
    <p class="pubg">3. Ren P., Barreto A., Huang J., Gao Y., <span style="font-weight:900;">Ortega, F.</span>, and Adjouadi, M., “Off-line and On-line Stress Detection through Processing of the Pupil Diameter Signal.” In Annals of Biomedical Engineering, vol. 42, no. 1, pp. 162–176, 2014.
        <ul style="list-style-type:none; margin:0; padding:0; overflow: hidden;">
        <li style="float:left; display:block; text-align:center;padding:16px; text-decoration:none;">[<a style="text-decoration: none; color:blue" href="https://link.springer.com/article/10.1007/s10439-013-0880-9">Springer</a>]</li>
        <li style="float:left; display:block; text-align:center;padding:16px; text-decoration:none;">[<a style="text-decoration: none; color:blue" href="/assets/papers/off-line_and_on-line_stress_detection_through_processing_of_the_pupil_diameter_signal.pdf">pdf</a>]</li>
        </ul>
    </p>
    </li>
</ul>